# Dependencies
node_modules/

# Local Databases
data/*.sqlite
data/*.sqlite-journal

# Environment secrets
.env
*.log

# Build outputs
coverage/
website/dist/
mobileApp/.expo/

# OS metadata
.DS_Store
Thumbs.db
